<!DOCTYPE html>
<html>
  <head>
    <title>TutorialRubyOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>hey guys what a hell</h1>
  <!-- 各viewが以下のyieldのところに入る。-->
    <%= yield %>
  </body>
</html>


<!-- ここでは、全てのviewに共通するviewを記載する。　例えばタブを出したり、他の画面と共通の場合はここに記載する。-->